<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Indexes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div th:fragment="index_table (index_list, table_title)">
        
        <details>
            <summary th:text="${table_title} + ' ' + ${index_list == null ? 0 : index_list.size()} + ' Maps'" />
            

            <table border="1">
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Zip Size</th>
                    <th>Size</th>
                    <th>Description</th>
                </tr>
                <tr th:each="index : ${index_list}">
                <td>
                    <a th:href="@{/download?(${index.getHttpParam()}=yes,file=${index.name})}" th:text="${index.name}"></a>
                </td>
                <td th:text="${index.getDate}"></td>
                <td th:text="${index.getTime()}"></td>
                <td th:text="${index.size}"></td>
                <td th:text="${index.targetsize}"></td>
                <td th:text="${index.description}"></td>
                </tr>
            </table>

        </details>
    </div>
</body>
</html>